<main class="category-main">
    <img class="category-main-return" src="../../assets/images/back.png" alt="goback" routerLink="/">
    <div class="category-title" fxLayout="row" fxLayoutAlign="center center">
        <img class="category-picture" src="../../assets/images/{{category}}.png">
        <h3 class="category-name">Soins {{category}}</h3>
    </div>
    <div class="category-family" *ngFor="let family of families" routerLink="/c/{{category}}/{{family}}">
        <div class="category-family-name">{{family}}</div>
    </div>
</main>
