@import '../variables.scss';

mat-icon {
    color: $green;
}

mat-dialog-content {
    text-align: center;
    color: $green;
}

mat-dialog-actions {
    display: flex;
    justify-content: center;

    .mat-button {
        background-color: $pink;
        color: white;
    }
}