@import '../variables.scss';

.family-main{
    max-width: 700px;
    margin: auto;
    overflow-y: auto;
    height: 75vh;
   

    .family-main-return{
        width: 60px;
        margin-top: 2rem;
        position: fixed;
        border-radius: 100%;

        &:hover{
            box-shadow: 5px 5px 5px $green;
        }
    }

    .family-title{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        .family-picture{
            width: 60px;           
        }

        .family-name{
            text-align: center;
            padding-top: 1.5rem;
            padding-left: 1rem;
            font-size: 1.5rem;
            color: $pink;
            font-weight: bold;
        }
    }

    .family-products{
        margin: 0;
        
        .family-one-product{
            border: 0.3rem $pink solid;
            border-radius: $radius;
            padding: 0.5rem;
            margin: 1rem auto;
            width: 80%;
            background-color: white;
            text-align: center;

            .product-name{
                font-weight: bold;
                font-size: 1.3rem;
            }

            .product-brand{
                font-style: italic;
            }

            .product-size{

            }

            .product-picture{
                width: 70%;
                border-radius: $radius;
            }

            .product-description{

            }
        }
    }
}