<main class="home-main">
    <div class="home-category">
        <img class="home-category-picture" src="../../assets/images/face.png">
        <div class="home-category-name">Soins Visage</div>
    </div>
    <div class="home-category">
        <img class="home-category-picture" src="../../assets/images/body.png">
        <div class="home-category-name">Soins Corps</div>
    </div>
    <div class="home-category">
        <img class="home-category-picture" src="../../assets/images/hair.png">
        <div class="home-category-name">Soins Cheveux</div>
    </div>
</main>
